<div class="row">
    <div class="large-4 large-offset-4 columns centered">
        <form class="card">
            <div class="social">
                <button ng-click="authenticate('google')" class="button small expand google">
                    <img src="/static/images/GooglePlus-logo_64.png" alt="Google">
                    Ingresa con Google
                </button>
                <button ng-click="authenticate('facebook')" class="button small expand facebook">
                    <img src="/static/images/FB-f-Logo__blue_50.png" alt="Facebook">
                    Ingresa con Facebook
                </button>
            </div>
        </form>
    </div>
</div>