<!DOCTYPE html>
<html lang="{{request.locale_name}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Pyramid and AngularJS API demo">
        <meta name="author" content="Josue Montano, josuemontanoa@gmail.com">
        <meta name="owner" content="Josue Montano, josuemontanoa@gmail">
        <link rel="shortcut icon" href="{{request.static_url('demonstrare:static/images/pyramid-16x16.png')}}">

        <title>Pyramid and AngularJS API demo</title>

        <link href="{{request.static_url('demonstrare:static/css/foundation.min.css')}}" rel="stylesheet">
        <link href="{{request.static_url('demonstrare:static/css/theme.min.css')}}" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-app="demo">
        <header>
            {% include 'menu.html' %}
        </header>
        <div class="blurred"></div>
        <div class="content" ui-view></div>
        <footer>
            <div class="row">
                <div class="large-12 columns">
                    <p>&copy; {{year}} Josue Montano. All rights reserved.</p>
                </div>
            </div>
        </footer>

        <script src="{{request.static_url('demonstrare:static/js/lib/angular.min.js')}}"></script>
        <script src="{{request.static_url('demonstrare:static/js/lib/angular-ui-router.min.js')}}"></script>
        <script src="{{request.static_url('demonstrare:static/js/app.js')}}"></script>
        <script src="{{request.static_url('demonstrare:static/js/controllers.js')}}"></script>
        <script src="{{request.static_url('demonstrare:static/js/directives.js')}}"></script>
    </body>
</html>