<!DOCTYPE html>
<html lang="{{request.locale_name}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="API Platform powered by Pyramid">
        <meta name="author" content="Josue Montano, josuemontanoa@gmail.com">
        <meta name="owner" content="Josue Montano, josuemontanoa@gmail">

        <title>API Platform powered by Pyramid</title>

        <link rel="shortcut icon" href="{{request.static_url('canopus:static/img/logo-24x24.jpg')}}">
        <link rel="stylesheet" href="{{request.static_url('canopus:static/css/semantic.min.css')}}">
        <link rel="stylesheet" href="{{request.static_url('canopus:static/css/theme.min.css')}}">
        <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="app"></div>
        <footer>
          <p>&copy; {{year}}. All rights reserved.</p>
        </footer>
        <div class="ui small modal" id="modal" tabindex="-1"></div>
        <div id="notifications" tabindex="-1"></div>

        <script type="text/javascript">
            var googleClientID   = '388525728293-bu96shbpa47dpc92efgsemsd6ftu7gj7.apps.googleusercontent.com';
            var facebookClientID = '448167108683079';
            var hotmailClientID  = '0000000040156129';
        </script>
        <script src="{{request.static_url('metropolitan:static/js/metropolitan.min.js')}}"></script>
        <script>!function(a,b,c,d,e,f,g){a.GoogleAnalyticsObject=e,a[e]=a[e]||function(){(a[e].q=a[e].q||[]).push(arguments)},a[e].l=1*new Date,f=b.createElement(c),g=b.getElementsByTagName(c)[0],f.async=1,f.src=d,g.parentNode.insertBefore(f,g)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","","auto"),ga("send","pageview");</script>
    </body>
</html>