<div class="row">
    <div class="large-4 large-offset-4 columns centered">
        <form class="card">
            <h3 class="title">Login</h3>
            <div class="card-content">
                <div class="social">
                    <button ng-click="vm.authenticate('google')" class="button small expand google">
                        <img src="/static/img/GooglePlus-logo_64.png" alt="Google">
                        Sign In with Google
                    </button>
                    <button ng-click="vm.authenticate('facebook')" class="button small expand facebook">
                        <img src="/static/img/FB-f-Logo__blue_50.png" alt="Facebook">
                        Sign In with Facebook
                    </button>
                </div>
                <div ng-if="error">
                    <hr>
                    <p class="small" ng-bind="vm.error"></p>
                </div>
            </div>
        </form>
    </div>
</div>